@rendermode InteractiveServer
@page "/"
@using System;
@using System.Diagnostics;
@using System.Threading;

<PageTitle>Home</PageTitle>


<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="navbar-nav" id="navbarNavAltMarkup">
            <a class="nav-link active" aria-current="page" href="LinuxCPU">Linux</a>
           

        </div>
        
    </div>
</nav>



<h1>CPU</h1>
<button class="btn btn-primary" @onclick="() => getInitCPU(true)">INIT</button>


<p>@cpuInfo</p>
<p>CPU Usage: @cpuUsage%</p>
<p>@status</p>

@code{

    private PerformanceCounter cpuCounter = new PerformanceCounter("Processor", "% Processor Time", "_Total");
    private string? cpuInfo = null;
    private float? cpuUsage = 0;
    private string? status = "Não iniciado";

    public async Task<string> getInitCPU(bool init)
    {
        if(!init)
        {
            status = "Processo de CPU parado";
            return "";
        }
        System.Diagnostics.Debug.WriteLine(init);
        status = "Processo de CPU iniciado";
        return getCpuInfo(init);

    }

    private string getCpuInfo(bool init)
    {
        cpuCounter.NextValue();
        Thread.Sleep(1000);
        while (init)
        {
        System.Diagnostics.Debug.WriteLine("Obtendo informações da CPU...");
        cpuUsage = cpuCounter.NextValue();
        Thread.Sleep(1000);
            
        }
        return "";



    }

    private float GetCpuUsage()
    {
        return cpuCounter.NextValue();
    }
}
