@rendermode InteractiveServer
@page "/LinuxPermission"
@using System;
@using System.Diagnostics;
@using System.Threading;


<div>

    <h3>LinuxPermission</h3>
    <hr />

    <fieldset>
         <input type="text" class="input-group-lg" name="User" placeholder="User to give permissions"/>
         <input type="text" class="input-group-lg" name="File" placeholder="File allocate the user" />
    </fieldset>

</div>




@code {




}
