@rendermode InteractiveServer
@page "/LinuxPermission"
@using System;
@using System.Diagnostics;
@using System.Threading;


<div>

    <h3>LinuxPermission</h3>
    <hr />

    <fieldset>
        <legend>Give Permission</legend>
         <input @bind-value="userName" type="text" class="input-group-lg" name="User" placeholder="User to give permissions" />
         <br />
         <input @bind-value="fileName" type="text" class="input-group-lg" name="File" placeholder="File allocate the user" />
         <br />
         <input @bind-value="password" type="password" class="input-group-lg" name="Password" placeholder="Password for the user" />
         <br />
        <button class="btn btn-primary" @onclick="() => givePermission()">Give Permission</button>
    </fieldset>

</div>


<p>@output</p>


@code {


    bool turnOnButton = false;
    string? userName;
    string? fileName;
    string? password;
    string? output = "";


    private async Task runGetTent()
    {
        Process gt = new Process
        {
            StartInfo = new ProcessStartInfo
            {
                FileName = "getent",
                Arguments = "",
                RedirectStandardOutput = true,
                UseShellExecute = false,
                CreateNoWindow = true
            }
        };

        gt.Start();
        gt.WaitForExit();
        output = gt.StandardOutput.ReadToEnd();
        StateHasChanged();

    }

    public async Task givePermission()
    {

        await runGetTent();   
        System.Diagnostics.Debug.WriteLine($"User: {userName}, File: {fileName}, Password: {password}");

    }




}
