@rendermode InteractiveServer
@page "/LinuxCPU"
@using System;
@using System.Diagnostics;
@using System.Threading;
@using System.Linq;


<div>
    <div>

        <h3>LinuxCPU</h3>

        <h4>Commands</h4>

        <hr />
        <button class="btn btn-primary" @onclick='(() => runCommand("ps"))'>ps</button>
        <button class="btn btn-primary" @onclick='() => runCommand("top")'>top</button>
    </div>


    <div>
        @if(processing)
        {
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        }
    </div>

    <hr />
    <div>
    @if(output != null)
    {
        <div>
            <h4>Output</h4>
            <pre>@output</pre>
        </div>
    }
    </div>

    <div>

    @if(stopButton)
    {
        <button class="btn btn-danger" @onclick='(() => stopButton = false)'>Stop</button>
    }
    </div>

    <hr />

    <div>
    @if (turnOnButton)
    {
        <div>
          <fieldset>
                <legend>Kill Process</legend>
                <input type="number" class="input input-group-lg" name="pid" @bind-value="pidKill" placeholder="PID number to kill it" />
                <button type="submit" class="btn btn-danger" @onclick="() => killProcess(pidKill)">Kill</button>
                </fieldset>
        </div>
    }
    </div>



    @if (processList != null){

        <table>
            <thead>
              <tr>
                  <th>Process</th>
                  <th>PID</th>
              </tr>
            </thead>
            <tbody>

        @foreach(var processes in processList)
        {
           <tr>
              <td>@processes.ProcessName</td> 
              <td>@processes.Id</td>
           </tr>
        }
            </tbody>
   
         </table>
    }

</div>




@code {

    Process? process;
    Process[]? processList;
    bool turnOnButton = false;
    bool stopButton = false;
    bool processing = false;
    int pidKill = 0;
    string? output;

    private async Task getProcess()
    {
        while (stopButton)
        {
            processList = Process.GetProcesses();
            StateHasChanged();
            await Task.Delay(500);
        }

        processList = null;
        StateHasChanged();
    }

    private async Task psCommand()
    {

        await getProcess();
        turnOnButton = false;

    }

    private async Task<string> killProcess(int pid)
    {

        if (stopButton)
        {
            Process p = Process.GetProcessById(pid);
            System.Diagnostics.Debug.WriteLine($"Killing process with PID: {p}");
            if (processList.Select(x => x.Id).Contains(p.Id))
            {

                p.Kill();

                turnOnButton = false;
            }

        }

        return "";

    }

    private async Task topCommand()
    {

       

            process = new Process
            {
                StartInfo = new ProcessStartInfo
                {
                    FileName = "top",
                    Arguments = "-b -d 1",
                    RedirectStandardOutput = true,
                    UseShellExecute = false,
                    CreateNoWindow = true,
                }
            };

            process.OutputDataReceived += (sender, args) =>
            {
                if (!string.IsNullOrEmpty(args.Data))
                {
                    output = args.Data;
                    StateHasChanged();
                }
        };
            process.Start();
            processing = true;
            process.WaitForExit(10000);
            output = process.StandardOutput.ReadToEnd();
            System.Diagnostics.Debug.WriteLine(output);
            
    }

    private async Task<string> runCommand(string command)
    {


        switch (command)
        {
            case "ps":
                turnOnButton = true;
                stopButton = true;
                await psCommand();

                break;
            case "top":

                await topCommand();

                break;
        }
        return "";
    }




}
