@rendermode InteractiveServer
@page "/LinuxPermission"
@using System;
@using System.Diagnostics;
@using System.Threading;

<h3>LinuxPermission</h3>
<hr />

<button class="btn btn-primary" @onclick='(() => givePermission())'>Set Permission</button>

<div>



 @if(turnOnButton)
    {   
         <h2>Users</h2>
        @foreach(var user in users)
        {
            <p>@user; </p>
        };
        <h2>Directories</h2>
        @foreach(var dir in directories)
        {
            <p>@dir; </p>
        };

        <h2>Use the information above to give permission to an user</h2>
        <div>
             <fieldset>
             <legend>User info</legend>
             <input @bind-value="userName" type="text" class="input-group-lg" name="User" placeholder="User to give permissions" />
             <br />
             <input @bind-value="fileName" type="text" class="input-group-lg" name="File" placeholder="File allocate the user" />
             <br />
             <button class="btn btn-primary" @onclick="() => givePermission()">Give Permission</button>
             <button class="btn btn-secondary" @onclick="() => changeDir()">Change Directory</button>
              @if (turnChange)
    {
               <div>
                <input type="text" class="input input-group-lg" name="dir" @bind-value="dir" placeholder="Directory to change" />
                <button type="submit" class="btn btn-primary" @onclick="() => changeDir()">Change</button>
               </div>


    }
             </fieldset>
        </div>


        <h2>@output</h2>
        
            
        
 }

</div>




@code {


    bool turnOnButton = false;
    bool turnChange = false;
    string? userName;
    string? fileName;
    string? dir;
    string? output = "";
    List<string> users = new List<string>();
    List<string> directories = new List<string>();


    private async Task runGetTent()
    {

        Process gt = new Process
        {
            StartInfo = new ProcessStartInfo
            {
                FileName = "getent",
                Arguments = "passwd",
                RedirectStandardOutput = true,
                UseShellExecute = false,
                CreateNoWindow = true
            }

        };


        gt.OutputDataReceived += (sender, args) =>
        {
            if (!string.IsNullOrEmpty(args.Data))
            {
                var username = args.Data.Split(':')[0];

                InvokeAsync(() =>
                {
                    users.Add(username);
                    StateHasChanged();
                });
            }
        };

        gt.Start();
        gt.BeginOutputReadLine();
        gt.WaitForExit();
        StateHasChanged();

    }

    private async Task changeDir()
    {
        turnChange = true;
        await setDir();

    }

    private async Task setDir()
    {
        if (string.IsNullOrEmpty(dir))
        {
            output = "Please fill in the directory field.";
            return;
        };

        if(directories.Contains(dir))
        {
            Process cd = new Process
            {
                StartInfo = new ProcessStartInfo
                {
                    FileName = "cd",
                    Arguments = $" {dir}",
                    RedirectStandardOutput = true,
                    UseShellExecute = false,
                    CreateNoWindow = true
                }
            };
            cd.Start();
            cd.WaitForExit();
            output = $"Changed directory to {dir}";
        }
        else
        {
            output = "Directory does not exist.";
        };

        turnChange = false;

    }

    private async Task getDirectories()
    {
        Process gt = new Process
        {
            StartInfo = new ProcessStartInfo
            {
                FileName = "ls",
                Arguments = "",
                RedirectStandardOutput = true,
                UseShellExecute = false,
                CreateNoWindow = true
            }
        };
        gt.Start();
        gt.WaitForExit();
        directories = gt.StandardOutput.ReadToEnd().Split(Environment.NewLine, StringSplitOptions.RemoveEmptyEntries).ToList();
        StateHasChanged();
    }




    private async Task analyzeInput()
    {
        if (string.IsNullOrEmpty(userName) || string.IsNullOrEmpty(fileName))
        {
            output = "Please fill in all fields.";
            return;
        }

        await givePermissionToUser();

    }

    private async Task givePermissionToUser()
    {
        Process chown = new Process
        {
            StartInfo = new ProcessStartInfo
            {
                FileName = "sudo",
                Arguments = $"chow {userName} {fileName}",
                RedirectStandardOutput = true,
                UseShellExecute = false,
                CreateNoWindow = true
            }
        };
        chown.Start();
        chown.WaitForExit();
    }

    private async Task showPermission()
    {
        Process ls = new Process
        {
            StartInfo = new ProcessStartInfo
            {
                FileName = "ls",
                Arguments = "-li",
                RedirectStandardOutput = true,
                UseShellExecute = false,
                CreateNoWindow = true
            }
        };

        ls.Start();
        ls.WaitForExit();
        output = ls.StandardOutput.ReadToEnd();
        StateHasChanged();
    }

    public async Task givePermission()
    {

        await runGetTent();
        await getDirectories();
        turnOnButton = true;
        await analyzeInput();
 

    }






}
